{% extends "base.html" %}

{% block page_title %}Recommendations{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto py-8 px-4">
    <h1 class="text-4xl font-bold text-center mb-8 text-golden">Movie Recommendations</h1>
    
    <div class="mb-4"></div>

    <p class="text-center text-cream mb-4">
        Here are some recommendations based on the shows in your watchlist:
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for movie in recommendations %}
            <div class="bg-taupe p-4 mb-6 rounded-lg shadow-md flex flex-col hover:scale-105 transition-transform">
                <!-- Title -->
                <h2 class="text-xl font-semibold text-cream mb-1">
                    {{ movie.title }}
                </h2>

                <!-- Categories -->
                <p class="text-sm text-cream mb-1">
                    <strong>Categories:</strong> {{ movie.listedIn }}
                </p>

                {% if movie.releaseYear %}
                    <p class="text-sm text-cream mb-1">
                        <strong>Year:</strong> {{ movie.releaseYear }}
                    </p>
                {% endif %}

                {% if movie.type %}
                    <p class="text-sm text-cream mb-1">
                        <strong>Type:</strong> {{ movie.type }}
                    </p>
                {% endif %}

                {% if movie.description %}
                    <p class="text-sm text-cream mb-3">
                        <strong>Description:</strong> {{ movie.description }}
                    </p>
                {% endif %}

                <!-- Spacer to push the button to the bottom -->
                <div class="flex-grow mb-4"></div>

                <!-- Watchlist Button -->
                <div class="mt-auto">
                    {% if movie.in_watchlist %}
                        <button disabled class="bg-golden text-dark-forest px-4 py-2 text-sm rounded w-auto inline-block opacity-75 cursor-not-allowed">
                            Added to Watchlist
                        </button>
                    {% elif movie.exists_in_database %}
                        <button disabled class="bg-green-700 text-dark-forest px-4 py-2 text-sm rounded w-auto inline-block opacity-75 cursor-not-allowed">
                            Available
                        </button>
                    {% else %}
                        <button disabled class="bg-red-500 text-dark-forest px-4 py-2 text-sm rounded w-auto inline-block opacity-75 cursor-not-allowed">
                            Not Available
                        </button>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <p class="text-cream">No recommendations available at this time.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
